
<div>
    <p>
        <LegendariumUI.Pages.AdminView></LegendariumUI.Pages.AdminView>
    </p>
</div>

@code {
    [CascadingParameter]
    public int PlayerId { get; set; }


    private void PowerButton()
    {
        //var player = _userManager.GetUserId();
    }
}
